<nav class = " navbar-expand-lg col-xs-offset-1 col-xs-10 {#navbar navbar-dark bg-primary #}">
    {# <div class = "collapse navbar-collapse" id = "navbarColor01"> #}
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class="glyphicon glyphicon-home nav-link" href="{{ path('home') }}"> </a>
            </li>

            {% for prestation in prestations %}
                {% if prestation.menuDeroulant == false and prestation.id != 16 %}
                        <li class = "nav-item">
                            <a class="nav-link" href="{{ path('affichage_prestation',{'prestation':prestation.nom,'id':prestation.id}) }}"> {{ prestation.nom }} </a>
                        </li>
                {% endif %}
            {% endfor %}

            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Evénements</a>
                <div class="dropdown-menu">
                    <ul>
                        {% for prestation in prestations %}
                            {% if prestation.menuDeroulant == true %}
                                {% if prestation.id == 17 %}
                                    <li class = "lien-dropdown">
                                        <a class="dropdown-item-nav" href="{{ path('affichage_prestation',{'prestation':prestation.nom,'id':prestation.id}) }}"> Evjf/g </a>
                                    </li>
                                {% else %}
                                    <li class="lien-dropdown">
                                        <a class="dropdown-item-nav" href="{{ path('affichage_prestation',{'prestation':prestation.nom,'id':prestation.id}) }}">
                                            {{ prestation.nom }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="{{ path('livreOr') }}"> Livre d'or </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="{{ path('unPeuDeMoi') }}"> Un peu de moi </a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="{{ path('contact') }}"> Contact </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
                <div class="dropdown-menu">
                    <ul>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="lien-dropdown">
                                <a class="dropdown-item-nav" href="{{ path('menuUser') }}"> Mon profil </a>
                            </li>
                            <li class="lien-dropdown">
                                <a class="dropdown-item-nav" href="{{ path('logout') }}"> Se déconnecter </a>
                            </li>
                        {% else %}
                            <li class="lien-dropdown">
                                <a class="dropdown-item-nav" href="{{ path('login') }}"> Se Connecter </a>
                            </li>
                        {% endif %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="lien-dropdown">
                                <a class="dropdown-item-nav" href="{{ path('admin_menuAdmin') }}"> Menu Admin </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </li>

        </ul>
    {# </div> #}
</nav>



